/* CSS skapad av färgblind, protan, färgschemat ser vettigt ut för mig. Your experience my vary. :) */

    body{
         background-color: black; 
         color: darkgoldenrod;
         /* color: grey; */
         text-align: center;         
    }
    header{

        background-color: darkred;
    }

    h1{
        color: gold;
    }
    h3{
        color: gold;
    }
    a{
        color: darkorange;
    }

    ul{
        list-style-type: none;
    }
    li{
        display: inline-block;
        margin-right: 10px;
    }
    footer{
        height: 50px;
        background-color: orangered ;
        color: yellow;
    }